/* elements */

body {
    align-items:     center;
    display:         flex;
    flex-direction:  column;
    justify-content: space-between;
    margin:          15px auto;
    height:          900px;
    width:           800px;
}

button { margin-text: 30px; }

h1 { font-size: 68px; }


/* classes */

.circle {
    border:        1px solid lightgrey;
    border-radius: 100%;
    display:       flex;
    flex-wrap:     wrap;
    height:        604px;
    width:         604px;
}
.one {
    background:    lightcoral;
    border-radius: 100% 0 0 0;
}
.two {
    background:    lightgoldenrodyellow;
    border-radius: 0 100% 0 0;
}
.three {
    background:    lightskyblue;
    border-radius: 0 0 0 100%;
}
.four {
    background:    lightgreen;
    border-radius: 0 0 100% 0;
}
.semi {
    border: 1px solid lightgrey;
    cursor: pointer;
    height: 300px;
    width:  300px;
}

.active-one   { background: red;    }
.active-two   { background: yellow; }
.active-three { background: blue;   }
.active-four  { background: green;  }